@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}

.sidebar {
  border-right: 0.5px solid #aeaeae;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.sidebar .container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  position: fixed;
  margin-top: 2rem;
}

.sidebar .container .logo h2 {
  font-size: 1rem;
  color: #f45050;
}

.sidebar .container .categories-con {
  margin-top: 2rem;
}

.sidebar .container .categories-con .menu {
  margin-bottom: 2rem;
}

.sidebar .container .categories-con .menu .title,
.sidebar .container .categories-con .categories .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #777;
}

.sidebar .container .categories-con .menu p,
.sidebar .container .categories-con .categories p {
  margin-bottom: 0.7rem;
  cursor: pointer;
}

.sidebar .container .categories-con .menu p:hover,
.sidebar .container .categories-con .categories p:hover {
  color: #f45050;
}

.nav {
  margin-top: 1.5rem;
  display: flex;
  justify-content: end;
  padding: 0 1rem;
}

.nav .search {
  width: 15rem;
  /* background: #f45050; */
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.1),
  -3px -2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  padding: 0.3rem;
  display: flex;
  align-items: center;
}

.nav .search input {
  border: none;
  height: 2rem;
  width: 100%;
  padding: 0.5rem;
  color: #777;
  background: transparent;
}

.nav .search input:focus {
  outline: none;
  /* border-bottom: 1px solid #777; */
}

.nav .search button {
  display: flex;
  justify-content: center;
  align-items: center;
  all: unset;
  height: 2rem;
  width: 1.5rem;
  color: #777;
}

.content {
  grid-column: 3/-1;
  padding: 0.5rem;
}

.content .content-title {
  margin-bottom: 0.5rem;
  color: #f45050;
}

.content .content-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  height: 100%;
}

.content .content-container .card {
  /* background: #d3d3d3; */
  width: 220px;
  height: 400px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.1),
            -2px -1.5px 3px rgba(0, 0, 0, 0.1);
}

.content .content-container .card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.content .content-container .card .text {
  padding: .3rem .5rem;
}

.content .content-container .card .text .movie-name,
.content .content-container .card .text .movie-rating {
    font-weight: 600;
}

.content .content-container .card .text .movie-desc {
    font-size: .85rem;
    margin: .5rem 0;
    color: #777;
}
